name: Create a new hotfix branch

on:
  workflow_dispatch:
    inputs:
      hotfix_branch_name:
        description: Hotfix branch name ('hotfix/' is automatically prepended)
        required: true

permissions:
  contents: read

jobs:
  create-branch:
    name: Create a new hotfix branch
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      # In order to make a commit, we need to initialize a user.
      # You may choose to write something less generic here if you want, it doesn't matter functionality wise.
      - name: Initialize mandatory git config
        run: |
          git config user.name "GitHub actions"
          git config user.email noreply@github.com

      - name: Create hotfix branch
        run: |
          chmod +x scripts/create-hotfix-branch.sh
          ./scripts/create-hotfix-branch.sh "${{ github.event.inputs.hotfix_branch_name }}"
