name: Create a new hotfix branch

on:
  workflow_dispatch:
    inputs:
      hotfix_branch_name:
        description: Hotfix branch name ('hotfix/' is automatically prepended)
        required: true

permissions:
  contents: read

jobs:
  create-branch:
    name: Create a new hotfix branch
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      # In order to make a commit, we need to initialize a user.
      # You may choose to write something less generic here if you want, it doesn't matter functionality wise.
      - name: Initialize mandatory git config
        run: |
          git config user.name "GitHub actions"
          git config user.email noreply@github.com

      - name: Create hotfix branch
        run: |
          chmod +x scripts/create-hotfix-branch.sh
          ./scripts/create-hotfix-branch.sh "${{ github.event.inputs.hotfix_branch_name }}"
